
// BLACK NAV BAR ON TOP
.top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: white;
}
.company-name{
  padding-left: 5em;
  justify-content: center;
  align-self: center;
  color: white;
}
#hamburger img{
  padding-top: 1.5em;
  padding-left: 1em;
  align-content: flex-end;
  height: 40%;
  width: 30%;
}
// MAIN IMAGE
#laptop{
  width: 100%;
  height: 50%;
  padding-bottom: 10%;
}
// MAIN AREA
.container{
  color: #FFFFFF;
  display: flex;
  width: 100%;
  justify-content: center;
}
.pink{
  justify-content: center;
  width: 80%;
  background-color: lightpink;
}
.bottom-bar{
  display: flex;
  justify-content: center;
  padding-top: 2%;
}
