*{
  border: 1px solid red;
}
.top-header{
  height: 100%;
  background-color: #000000;
  color: #FFFFFF;
  display: flex;
  width: 100%;
  .company-name{
    justify-content: flex-start;
  }
  .hamburger{
    justify-content: flex-end;
    img{
      height: 5em;
    }
  }
}
.photo{
  img{
    max-width: 100%;
    max-height: 25%;
  }
}
